html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #41464b;
}

header {
    background-color: #41464b;
}

td,th {
    border-bottom-color: #F46500 !important;
}
.btn {
    background-color: #F46500;
    width: fit-content !important;
    border:none !important;
}
label {
    color: #F46500 !important;
}
input {
    background-color: #333538 !important;
    color: #F46500 !important;
}

.btn:hover {
    background-color: #923d00 !important;
}

hr {
    background-color: #F46500 !important;
    opacity: 1;
}
p,h1,h2,h3,h4,h6,h5 {
    color:white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #F46500 !important;
}

.nav-pills .nav-link {
    color: white;
}